section {
  padding-block: 7.5rem;
  img {
    width: 100%;
    max-height: 100%;
  }

  .note {
    font-family: Roboto Slab;
    font-size: 1.8rem;
    font-weight: 400;
    color: #586863;
    line-height: 1.6;
  }

  h2.title {
    font-family: "Roboto Slab";
    font-size: 4.2rem;
    font-size: clamp(2.8rem, calc(2.2rem + 1.5vw), 4.2rem);
    font-weight: 700;
    line-height: 1.2;
    text-wrap: balance;
  }

  .desc {
    font-family: Manrope;
    font-size: 1.8rem;
    font-weight: 400;
    color: #beccc7;
    line-height: 1.6;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 15px 35px;
  transition: opacity 0.3s linear;
}

.hero {
  margin-top: 100px;
  background-color: #f8ebc9;

  .note {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .title {
    font-family: Roboto Slab;
    font-weight: 800;
    font-size: 56px;
    padding-block: 10px;
    text-wrap: balance;
  }

  .desc {
    color: #0e1412;
    padding-block: 10px;
  }

  .btn {
    margin-top: 28px;
    background-color: #fd6038;
    color: #fff;

    &:hover {
      opacity: 0.8;
    }
  }

  .hero-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
  }

  .hero-img {
    position: relative;
    background: #000;
    padding-inline: 12%;
    background: linear-gradient(to right, #fed464 50%, #017848 60%);

    &::before {
      content: "213";
      position: absolute;
      top: 0;
      left: 0;
      width: 30%;
      height: 12%;
      background-color: #017848;
    }

    .img-banana {
      position: absolute;
      top: -12%;
      right: -12%;
      width: 24%;
      height: auto;
    }

    .img-banana-2 {
      position: absolute;
      bottom: -12%;
      left: -12%;
      width: 24%;
      height: auto;
    }

    .img-banana-3 {
      position: absolute;
      bottom: -12%;
      right: -12%;
      width: 24%;
      height: auto;
    }

    img {
      position: relative;
      max-width: 500px;
      height: auto;
      z-index: 2;
    }

    .img-play {
      position: absolute;
      top: -11%;
      left: -10%;
      width: 24%;
      height: 24%;
      cursor: pointer;
    }

    .img-mask {
      position: absolute;
      top: 40%;
      right: -10%;
      width: 22%;
      height: 22%;
    }
  }
}

.about {
  background-color: #0e1412;
  padding-block: 100px;

  .about-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
  }

  .about-img {
    position: relative;

    .img-banana {
      position: absolute;
      top: 52%;
      right: -12%;
      width: 20%;
      height: 30%;
    }
  }

  .about-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    color: #fff;
    padding-left: 110px;

    .note {
      color: #fd6038;
    }

    .desc {
      padding-block: 16px;
    }

    .about-list {
      display: flex;
      gap: 50px;
    }

    .list-item {
      display: flex;
      flex-direction: column;
    }

    .list-item span:nth-child(1) {
      font-size: 2.4rem;
      font-weight: 700;
      padding-block: 16px;
    }

    .list-item span:nth-child(2) {
      color: #beccc7;
      font-size: 1.8rem;
      font-weight: 400;
    }
  }

  .about-btn {
    margin-top: 36px;
    background-color: #fd6038;
    color: #fff;
    &:hover {
      opacity: 0.8;
    }
  }
}

.services {
  .services-top {
    text-align: center;

    .title {
      margin-block: 10px;
    }

    .desc {
      max-width: 470px;
      margin-bottom: 50px;
      color: #586863;
      margin-inline: auto;
    }
  }

  .card-wrap {
    min-width: 320px;
    flex-grow: 1;
  }

  .card {
    position: relative;
    .card-img {
      margin-bottom: 30px;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: top;
    }

    .btn-link {
      position: absolute;
      bottom: 16%;
      left: 50%;
      translate: -50% 0;
      padding: 8px 16px;
      margin: unset;
      width: 72%;
      line-height: 1.5;
      background-color: #fff;
      color: #000;
      transition: color 0.3s linear, background-color 0.3s linear;

      &.active,
      &:hover {
        color: #fff;
        background-color: #fd6038;
      }
    }
  }

  .services-btn {
    color: #fff;
    background-color: #fd6038;
  }
}

.features {
  .features-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
  }

  .features-img {
    position: relative;

    & > img {
      object-fit: cover;
      aspect-ratio: 1/1;
    }
    .img-banana {
      position: absolute;
      top: 0;
      left: 0;
      width: 30%;
      height: 30%;
    }

    .img-abstract {
      position: absolute;
      top: 74%;
      left: -8%;
      width: 28%;
      height: 12%;
    }

    .img-rectangle {
      position: absolute;
      top: 0%;
      right: 0;
      width: 4%;
      height: 30%;
    }

    .img-green-1 {
      position: absolute;
      top: 54%;
      left: -10%;
      width: 30%;
      height: 24%;
    }

    .img-green-2 {
      position: absolute;
      bottom: 0%;
      right: 0;
      width: 4%;
      height: 30%;
    }
  }
  .features-content,
  .features-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    padding-left: 10%;

    .desc {
      padding-block: 16px;
      color: #586863;
    }

    .features-list {
      margin-left: 26px;
      .list-item {
        position: relative;
        margin-bottom: 12px;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          translate: 0 -50%;
          left: -14px;
          width: 6px;
          height: 6px;
          background-color: #000;
          border-radius: 999px;
        }
      }
    }
  }

  .features-content {
    padding-left: unset;
    padding-right: 10%;
  }

  .features-btn {
    margin-top: 36px;
    background-color: #fd6038;
    color: #fff;
    &:hover {
      opacity: 0.8;
    }
  }
}

.team {
  background-color: #0e1412;
  .team-top {
    text-align: center;

    .note {
      color: #fd6038;
    }

    .title {
      margin-block: 10px;
      color: #fff;
    }

    .desc {
      max-width: 470px;
      margin-bottom: 50px;
      color: #beccc7;
      margin-inline: auto;
    }
  }

  .list-member {
    min-width: 320px;
    flex-grow: 1;
  }

  .card-member {
    position: relative;

    .member-img {
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: top;
    }
    .view-proflie {
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50% 0;
      margin: 0;
      padding: 8px 16px;
      line-height: 1.5;
      width: 72%;
      font-size: 1.8rem;
      color: #4c4c4c;
      background-color: #ffffff;
      opacity: 0;
      border-radius: 4px;
      visibility: hidden;
      transition: visibility 0.3s linear, opacity 0.3s linear, top 0.3s linear,
        color 0.3s linear, background-color 0.3s linear;
    }
    .view-proflie.active,
    &:hover .view-proflie {
      opacity: 1;
      visibility: visible;
      top: 66%;
      color: #fff;
      background-color: #fd6038;
    }
  }
}

.member-info {
  text-align: center;
  margin-top: 20px;

  .member-name {
    color: #fff;
    margin-bottom: 10px;
    font-size: 22px;
  }

  .member-job {
    color: #beccc7;
    margin-bottom: 30px;
    font-family: Manrope;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
  }
}

.awards {
  background-color: #f8ebc9;
  .awards-top {
    text-align: center;
    margin-bottom: 35px;
    .note {
      color: #0e1412;
    }
  }
  .awards-content {
    --grid-gutter-y: 30px;
    justify-content: center;
    & > * {
      flex-shrink: 0;
      min-width: 250px;
    }
  }

  .card-award {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 22px;
    background-color: #fff;
  }

  .award-img {
    aspect-ratio: 1/1;
    object-fit: scale-down;
  }
}

.testimonial {
  .testimonial-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    margin-bottom: 35px;
  }

  .btn-next,
  .btn-prev {
    width: 40px;
    height: 40px;
    padding: 12px;
    margin: unset;
    background-color: #0e1412;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s linear;

    &:hover {
      background-color: #fd6038;
    }
  }

  .btn-prev {
    margin-left: auto;
  }

  .btn-next {
    background-color: #fd6038;
  }

  .card-item {
    border: 1px solid #e6efec;
    padding: 30px;
    .avatar {
      width: 64px;
      height: 64px;
      border-radius: 9999px;
      overflow: hidden;
      box-shadow: lightgray 1px 1px;
    }
    .quote {
      padding-block: 30px;
    }
    .quote-icon {
      width: 20px;
      height: 20px;
    }
    .name {
      display: flex;
      padding-top: 12px;
      color: #0e1412;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
    }

    .note {
      color: #586863;
      font-size: 1.4rem;
      line-height: 1.7;
    }
  }

  .list-dots {
    text-align: center;
  }

  .dot {
    display: inline-flex;
    padding: 6px;

    &.active::before,
    &:hover::before {
      background: #fd6038;
    }
  }

  .dot::before {
    content: "";
    width: 8px;
    height: 8px;
    background: #000;
    border-radius: 999px;
    transition: background 0.3s linear;
  }
}

.question {
  .question-top {
    text-align: center;

    .title {
      padding-block: 6px 12px;
    }
    .general-ask,
    .other-ask {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 6px 15px;
      font-size: 1.8rem;
      line-height: 1.6;
    }

    .general-ask {
      color: #fd6038;
    }
  }

  .item-ask {
    padding: 30px;
    border: 1px solid #dbe1e3;
    transition: box-shadow 0.5s linear, background 0.5s linear;

    .ask {
      display: flex;
      justify-content: space-between;
      color: #0e1412;
      margin-bottom: 0;
      font-family: Manrope;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 1.4;
      transition: margin-bottom 0.5s linear;

      .arrow-icon {
        padding: 6px 10px;
        font-size: 16px;
        background-color: #0e1412;
        color: #fff;
        transition: background-color 0.5s linear;

        & i {
          transition: transform 0.5s linear;
        }
      }
    }

    .answer {
      max-height: 0;
      color: #586863;
      font-size: 1.8rem;
      line-height: 1.6;
      overflow: hidden;
      visibility: hidden;
      transition: max-height 0.5s linear, visibility 0.5s linear;
    }

    & input {
      display: none;
    }

    &:has(input:checked) {
      background: #fff;
      box-shadow: 0px 20px 70px 0px rgba(14, 20, 18, 0.07);
    }

    & input:checked + .ask {
      margin-bottom: 30px;
    }

    & input:checked ~ .answer {
      max-height: 250px;
      visibility: visible;
    }

    & input:checked + .ask .arrow-icon {
      background-color: #fd6038;
    }

    & input:checked + .ask .arrow-icon i {
      transform: rotate(540deg);
    }
  }
}
