.footer {
  background-color: #0e1412;
  padding-block: 100px 28px;
  color: #fff;

  .sub-title {
    margin-bottom: 24px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
  }

  li {
    color: #beccc7;
    line-height: 1.95;
  }

  .gg-map {
    height: 100%;
  }

  .footer-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 28px;
    margin-top: 55px;
    border-top: 1px solid #313d39;

    .copy-right {
      display: block;
      margin-top: 12px;
      color: #beccc7;
      font-size: 1.4rem;
      line-height: 1.7;
    }
  }

  .social-icon {
    cursor: pointer;

    & .svg-bgr,
    & .svg-bgr {
      transition: fill 0.3s linear;
    }

    &.active .svg-bgr,
    &:hover .svg-bgr {
      fill: #fd6038;
    }
  }

  /* */
}

@media (max-width: 991.98px) {
  .footer-top {
    --grid-gutter-y: 50px;
  }

  .col-map {
    margin-inline: auto;
  }
}
