@use "/scss/mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #f8ebc9;
  // display: none;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;

    color: #0e1412;
    font-family: Manrope;
  }
}

.logo {
  width: 84px;
  height: 67px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 400;

  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px;
    transition: color 0.3s linear;
    cursor: pointer;

    a {
      text-decoration: none;
    }

    &.active,
    &:hover {
      color: #fd6038;
    }

    &:hover .chevron-down {
      transform: rotate(540deg);
    }
  }

  .chevron-down {
    width: 8px;
    flex-shrink: 0;
    font-size: 10px;
    font-weight: 600;
    transition: transform 0.3s linear;
  }
}

.phone {
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
@media (max-width: 991.98px) {
  .header-contact {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .header .nav-item:nth-child(3) {
    display: none;
  }

  .header-inner .switch__open {
    display: flex;
    color: #fff;
    z-index: 1;
  }
}

@media (max-width: 575.98px) {
  .header-nav {
    display: none;
  }
}

.header__menu-mobbile {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  padding: 0;
  height: 100vh;
  width: 80%;
  max-width: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  font-size: 24px;
  background: pink;
  z-index: 9999;
  transition: max-width 0.3s linear, opacity 0.3s linear, visibility 0.3s linear,
    padding 0.3s linear;
}

.header__menu-mobbile * {
  display: none;
}

.switch__togger {
  font-size: 30px;
  color: brown;
  cursor: pointer;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  display: none;
  z-index: 999999;
}

#menu__togger {
  display: none;
}
.header__nav {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
